/3-Fase Desenvolupament/Projectes/Control Tasques/nbproject/private/
/3-Fase Desenvolupament/Projectes/Control Tasques/build/
/3-Fase Desenvolupament/Projectes/UIResponsive-master/build/
/3-Fase Desenvolupament/Projectes/UIResponsive-master/nbproject/private/
