/3-Fase Desenvolupament/Projectes/Control Tasques/nbproject/private/
/3-Fase Desenvolupament/Projectes/Control Tasques/build/
/3-Fase Desenvolupament/Projectes/UIResponsive-master/build/
/3-Fase Desenvolupament/Projectes/UIResponsive-master/nbproject/private/
/3-Fase Desenvolupament/Projectes/Control Tasques/dist/
/3-Fase Desenvolupament/Projectes/ChatMulticast-master/ChatMulticas/build/
/3-Fase Desenvolupament/Projectes/ChatMulticast-master/ChatMulticas/nbproject/private/
/3-Fase Desenvolupament/Projectes/ChatMulticast-master/Cliente/build/
/3-Fase Desenvolupament/Projectes/ChatMulticast-master/Cliente/dist/
/3-Fase Desenvolupament/Projectes/ChatMulticast-master/Cliente/nbproject/private/
/3-Fase Desenvolupament/Projectes/Chat Program In Java Source Code/ChatApplication/build/
/3-Fase Desenvolupament/Projectes/Chat Program In Java Source Code/ChatApplication/dist/
/3-Fase Desenvolupament/Projectes/Chat Program In Java Source Code/ChatApplication/nbproject/private/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard-v2/build/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard-v2/dist/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard-v2/nbproject/private/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard/build/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard/dist/
/3-Fase Desenvolupament/Projectes/java-swing-school-management-dashboard-main/school-dashboard/nbproject/private/
/3-Fase Desenvolupament/Projectes/Control Tasques - copia/build/
/3-Fase Desenvolupament/Projectes/Control Tasques - copia/dist/
/3-Fase Desenvolupament/Projectes/Control Tasques - copia/nbproject/private/
/3-Fase Desenvolupament/Projectes/TGF Control Tasques/build/
/3-Fase Desenvolupament/Projectes/TGF Control Tasques/dist/
/3-Fase Desenvolupament/Projectes/TGF Control Tasques/nbproject/private/
/3-Fase Desenvolupament/Projectes/TaskControl/build/
/3-Fase Desenvolupament/Projectes/TaskControl/dist/
/3-Fase Desenvolupament/Projectes/TaskControl/nbproject/private/
/3-Fase Desenvolupament/Projectes/KGradientPanel-master/dist/
/3-Fase Desenvolupament/Projectes/java-swing-menu-main/build/
/3-Fase Desenvolupament/Projectes/java-swing-menu-main/nbproject/private/
